{% extends 'base.html' %}

{% block page_title %}
Delete Artikel
{% endblock page_title %}

{% block contents %}

    <h2>Delete Artikel Confirm</h2>
    
    <p>Apakah anda ingin menghapus artikel berikut?</p>
    <h3>{{artikel.judul}}</h3>
    <p>{{artikel.publish}}</p>
    <form method="POST">  
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary">Ya</button>
    <a href="{% url 'artikel:manage' %}" type="button" class="btn btn-outline-danger">Tidak</a>
    </form>
{% endblock contents %}