{% extends 'base.html' %}

{% block contents %}

<h1>Home</h1>
  <div class="row">
  {% for artikel in artikel_latest %}
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'artikel:category' artikel.category 1 %}" class="text-dark">{{artikel.category}}</a>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{artikel.judul}}</h6>
          <p class="card-text">{{artikel.publish|date}}</p>
          <p class="card-text">{{artikel.body|truncatewords:20}}</p>
          <a href="{% url 'artikel:detail' artikel.slug %}" class="card-link">Selengkapnya</a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock contents %}